:root, :root.black {
    --text: #ffffff;
    --background: #000000;
    --primary: #404040;
    --secondary: #808080;
    --tertiary: #C0C0C0;
    --starting_cell: #606060;
    --radius: 6px;
}
:root.blue {
    --text: #f0c954;
    --background: #274c77;
    --primary: #6096ba;
    --secondary: #a3cef1;
    --tertiary: #bf921f;
    --starting_cell: #8cbbe1;
    --radius: 6px;
}
:root.purple {
    --text: #fbc489;
    --background: #2E005D;
    --primary: #74458b;
    --secondary: #cfc3da;
    --tertiary: #e98e2d;
    --starting_cell: #b4a1c5;
    --radius: 6px;
}

*{
    margin:0;
    padding:0;
    outline:0;
    border:0;
    border-spacing: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color:var(--text);
    height: calc(100vh/2);

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* ===================================================== HEADER */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: calc(100vh/99);
}

#difficulty{
    margin-bottom: 1%;
}

#throbber {
    font-size: 1rem;
    margin-top: 2%;
}




/* ===================================================== GRID */
#grid {
    border: 3px solid var(--primary);
    border-radius: var(--radius);
    margin:auto;
    margin-top: calc(100vh/12);
}
/* ===================================================== ROWS */
.row {
    border-bottom: 2px solid var(--primary);
    display:block;
}

.row:nth-child(3), .row:nth-child(6) {
    border-bottom: 3px solid var(--primary);
}


/* ===================================================== CELLS */
.cell {
    border-right: 1px solid var(--primary);
    height: calc(100vh/20);
    width: calc(100vh/20);
    appearance: none;
    -webkit-appearance: none;
    /* -moz-appearance: textfield; */
    text-align: center;
    font-size: 2.8vh;
    background-color: var(--secondary);
    color:var(--background);
}

.cell:nth-child(3), .cell:nth-child(6) {
    border-right: 3px solid var(--primary);
}

.starting_cell {
    background-color: var(--starting_cell);
}

/* ===================================================== TOOLBAR ICONS */
#toolbar {
    width: calc(9*(100vh/20));
    margin:auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img {
    background-color: var(--secondary);
    border: 2px solid var(--primary);
    border-radius: var(--radius);
    width: calc(100vh/20);
    margin-top: 0.5%;
}


/* ===================================================== NUMBER BUTTONS */

#number_line{
    width:fit-content;
    margin: auto;

    display: flex;
    flex-direction: row;

}

.number_button{
    height: calc(100vh/22);
    width: calc(100vh/22);
    text-align: center;
    font-size: 2.8vh;
    background-color: var(--secondary);
    color:var(--background);

    border-radius: var(--radius);
    border: 2px solid var(--tertiary);
    box-shadow: var(--tertiary) 10px;

    margin: 3px;
    margin-top: calc(100vh/99);
}

button:active, img:active {
    background-color: var(--tertiary);
}

/* ===================================================== OPTION BUTTONS */
#black, #blue, #purple, #easy_button, #medium_button, #hard_button {
    background-color: var(--secondary);
    color: var(--background);

    padding: calc(100vh/99);

    border-radius: var(--radius);
}
#black:active, #blue:active, #purple:active, #easy_button:active, #medium_button:active, #hard_button:active{
    background-color: var(--tertiary);

}

/* ===================================================== FOOTER */
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: calc(100vh/10);

    bottom:0;
}

/* ===================================================== SELECTIONS (override previous styles) */
.selectedRowCol{
    /* border: 2px solid var(--tertiary); */
    background-color: var(--tertiary);
}
.selected{
    background-color: var(--text);
}
/* TODO: implement phone layout */
