:root, :root.black {
    --text: #e6e6e9;
    --background: #000000;
    --primary: #66666e;
    --secondary: #9999a1;
    --tertiary: #f4f4f6;
    --starting_cell: #87878f;

    --radius: 6px;
}
:root.blue {
    --text: #e7ecef;
    --background: #274c77;
    --primary: #6096ba;
    --secondary: #a3cef1;
    --tertiary: #8b8c89;
    --starting_cell: #8cbbe1;

    --radius: 6px;

}
:root.purple {
    --text: #f4f4f6;
    --background: #2E005D;
    --primary: #733b8f;
    --secondary: #cfc3da;
    --tertiary: #FF8300;

    --starting_cell: #bfafcd;

    --radius: 6px;

}

*{
    margin:0;
    padding:0;
    outline:0;
    border:0;
    border-spacing: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color:var(--text);
    height: calc(100vh/2);

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* ===================================================== HEADER */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: calc(100vh/99);
}

#difficulty{
    margin-bottom: 1%;
}

#throbber {
    font-size: 1rem;
    margin-top: 2%;
}
/* ===================================================== GRID */
#grid {
    border: 3px solid var(--primary);
    border-radius: var(--radius);
    margin:auto;
    margin-top: calc(100vh/12);
}
/* ===================================================== ROWS */
.row {
    border-bottom: 2px solid var(--primary);
    display:block;
}

.row:nth-child(3), .row:nth-child(6) {
    border-bottom: 3px solid var(--primary);
}
/* ===================================================== CELLS */
.cell {
    border-right: 1px solid var(--primary);
    height: calc(100vh/20);
    width: calc(100vh/20);
    appearance: none;
    -webkit-appearance: none;
    /* -moz-appearance: textfield; */
    text-align: center;
    font-size: 2.8vh;
    background-color: var(--secondary);
    color:var(--background);
}

.cell:nth-child(3), .cell:nth-child(6) {
    border-right: 3px solid var(--primary);
}

.starting_cell {
    background-color: var(--starting_cell);
}
/* ===================================================== NUMBER BUTTONS */

#number_line{
    width:fit-content;
    margin: auto;

    display: flex;
    flex-direction: row;

}

.number_button{
    height: calc(100vh/22);
    width: calc(100vh/22);
    text-align: center;
    font-size: 2.8vh;
    background-color: var(--secondary);
    color:var(--background);

    border-radius: var(--radius);
    box-shadow: var(--tertiary) 10px;

    margin: 3px;
    margin-top: calc(100vh/99);
}

button:active {
    background-color: var(--tertiary);
}
.selected{
    background-color: var(--text);
}
/* ===================================================== OPTION BUTTONS */
#black, #blue, #purple, #easy_button, #medium_button, #hard_button {
    background-color: var(--secondary);
    color: var(--background);

    padding: calc(100vh/99);

    border-radius: var(--radius);
}

/* ===================================================== FOOTER */
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: calc(100vh/10);

    bottom:0;
}


/* TODO: implement phone layout */